.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: underline;
  color: black;
  text-shadow: 8px 5px 10px white;
}

.celulares {
  width: 200px;
  background-color: beige;
  height: 350px;
  border: 5px outset lightblue;
  box-shadow: 12px 12px 12px black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.celulares img {
  width: 200px;
  height: 200px;
}
.celulares p {
  font-size: 35px;
}
.celulares span {
  margin-top: -20px;
  font-size: 30px;
}
.general {
  display: flex;
  justify-content: space-around;
}
.celulares input {
  width: 100px;
  height: 40px;
  background-color: green;
  color: white;
  font-size: 20px;
  border: 5px outset greenyellow;
}
.gral {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.gral input {
  width: 200px;
  height: 50%;
  border: 4px outset black;
}
.totalpago {
  /* background-color: rgb(184, 252, 25); */
  width: fit-content;
  padding: 10px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}
.aver {
  width: 200px;
  height: 50px;
}
.padre {
  border: 8px outset grey;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  background-color: bisque;
  display: flex;
  gap: 200px;
}
.error {
  background-color: beige;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}
.acomodar {
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 30px;
}
.eliminar-btn {
  color: black;
}
.buton {
  height: 200px;
}
